# Entorno virtual y paquetes locales
venv/
env/

# Archivos de caché compilados por Python
__pycache__/
*.py[cod]

# Base de datos local (evita sobreescribir datos de pruebas en el repositorio)
*.db
*.sqlite3

# Archivos multimedia subidos por usuarios (manteniendo la carpeta raíz con .gitkeep)
static/uploads/*
!static/uploads/.gitkeep

# Variables de entorno y llaves de acceso
.env
